<footer class="footer has-text-centered">
  <div class="container">
     <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <p>
          <strong class="has-text-weight-semibold">
            Copyright &copy; 2018 EndTheRain at <img class="horiz-logo" src="/images/cmu-wordmark.png" alt="CMU">.
          </strong>
        </p>
        <p>
          <small>
            Webmaster: Ashwin Srinivasan. Made with <a href="https://bulma.io">Bulma</a>. Source code licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. CMU wordmark is property of <a href="https://cmu.edu">Carnegie Mellon University</a>.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
