<div class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="#">
        {{#if dark}}
          <img src="/images/pu-w.png" alt="Logo">
        {{else}}
          <img src="/images/pu-b.png" alt="Logo">
        {{/if}}
        &nbsp;&nbsp;&nbsp;
        <span class="title is-5">Plaid Umbrella Project</span>
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroC">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroC" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item scroll-section" name="about">
          About
        </a>
        <a class="navbar-item scroll-section" name="team">
          Team
        </a>
        <a class="navbar-item scroll-section" name="contact">
          Contact
        </a>
      </div>
    </div>
  </div>
</div>
