<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} | EndTheRain at Carnegie Mellon University</title>
    <meta name="description" content="Terrorized by the rain? So are we. Let's make umbrellas accessible to everyone, for free.">

    <link rel="shortcut icon" type="image/png" href="/images/pu-b.png"/>

    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="EndTheRain at Carnegie Mellon University">
    <meta itemprop="description" content="Terrorized by the rain? So are we. Let's make umbrellas accessible to everyone, for free.">
    <meta itemprop="image" content="https://github.com/EndTheRain/endtherain.github.io/blob/master/assets/project-umbrella-big.png?raw=true">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://endtherain.github.io">
    <meta property="og:type" content="website">
    <meta property="og:title" content="EndTheRain at Carnegie Mellon University">
    <meta property="og:description" content="Terrorized by the rain? So are we. Let's make umbrellas accessible to everyone, for free.">
    <meta property="og:image" content="https://github.com/EndTheRain/endtherain.github.io/blob/master/assets/project-umbrella-big.png?raw=true">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="EndTheRain at Carnegie Mellon University">
    <meta name="twitter:description" content="Terrorized by the rain? So are we. Let's make umbrellas accessible to everyone, for free.">
    <meta name="twitter:image" content="https://github.com/EndTheRain/endtherain.github.io/blob/master/assets/project-umbrella-big.png?raw=true">
    <!-- Meta Tags Generated via http://heymeta.com -->
  </head>
  <body>
    {{{body}}}

    <!-- Footer -->
    {{> footer}}
  </body>
</html>
