{{> navbar}}

<div class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-6 is-4-fullhd is-offset-3 is-offset-4-fullhd">
          <div id="updates-form" class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input id="updates-input" class="input" type="password" placeholder="Secret key">
              <span class="icon is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <div class="control">
              <a id="updates-button" class="button is-primary">
                Log In
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
