Hello {{andrewId}},

You have borrowed an umbrella </small>(ID: {{umb_id}})</small> from the dispenser at {{borrow_location}}. Please return it to any umbrella dispenser within {{lease_length}}.

Thank you!

- Ben from <a href="https://endtherain.com">End the Rain</a>
