Hello {{andrewId}},

Welcome to End the Rain! Our mission is to make dealing with the weather a lot easier at Carnegie Mellon. We offer free umbrellas that you can borrow with your Andrew ID card, and return the next day. Please be respectful of our system and return your umbrellas on-time. For more details, visit <a href="https://endtherain.com">EndTheRain.com</a>.

Thank you!

- Ben from <a href="https://endtherain.com">EndTheRain.com</a>
